<section id="educacion">
  <h3 class="titulo-seccion">Mi educacion:</h3>
  <!--1-->
  <div class="row" id="educaciones">
      <div class="col col-sm-12 col-md-12 col-lg-3">
          <div class="logo">
              <a href="https://www.argentina.gob.ar/economia/conocimiento/argentina-programa"><img src="./assets/yo programo negro.png" alt="logo"></a>
          </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-9">
          <h2>#ArgentinaPrograma</h2>
          <h3>Developer Full Stack Junior</h3>
          <p>tecnologias aplicadas tanto para front-end, back-end y base de datos</p>
      </div>
  </div>
  <!--2-->
  <div class="row" id="educaciones">
      <div class="col col-sm-12 col-md-12 col-lg-3">
          <div class="logo">
              <a href="https://www.freecodecamp.org/espanol/"><img src="./assets/logo codecamp.png" alt=""></a>
          </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-9">
          <h2>#FreeCodeCamp</h2>
          <h3>front end developer</h3>
          <p>angular, css, html y js.</p>
      </div>
  </div>
  <!--3-->
  <div class="row" id="educaciones">
      <div class="col col-sm-12 col-md-12 col-lg-3">
          <div class="logo">
              <a href="http://catalogo.inet.edu.ar/institucion/escuela-provincial-de-educacion-tecnica-n-16-3461"><img src="./assets/epet logo.png" alt="logo"></a>
          </div>
      </div>
      <div class="col col-sm-12 col-md-12 col-lg-9">
          <h2>EPET N° 16</h2>
          <h3>Tecnico mecanico electricista</h3>
          <p>Conocimientos generales de:</p>
          <p>diseño grafico, diseño 3d, programacion basica php, soldadura, mecanica, electricidad y electronica.</p>
      </div>
  </div>
</section>
