<section id="experiencia">
  <h3 class="titulo-seccion">Mi experiencia</h3>
  <!--1-->
  <div class="row" id="experiencias">
      <div class="col col-sm-12 col-md-5 col-lg-3">
          <div class="logo">
              <img src="./assets/logo ospepri.png" alt="logo">
          </div>
      </div>
      <div class="col col-sm-12 col-md-7 col-lg-9">
          <h2>sindicato de petroleo y gas privado</h2>
          <h3>IT - soporte tecnico</h3>
          <p>Al ser el unico personal en sistemas me encargo de manejar el servidor, la base de datos, mantenimiento de equipos, programacion basica PHP, analisis y busqueda en DB (Xammp, my sql, apache), manteninimiento de impresoras, control de active directory y redes de comunicacion, internet y telefonia.</p>
      </div>
  </div>
  <!--2-->
  <div class="row" id="experiencias">
      <div class="col col-sm-12 col-md-5 col-lg-3">
          <div class="logo">
              <img src="./assets/logo homeland.jfif" alt="logo" id="homeland" height="150px" width="100px">
          </div>
      </div>
      <div class="col col-sm-12 col-md-7 col-lg-9">
          <div class="descripcion">
              <h2>Homeland security</h2>
              <h3>tecnico - vigilante</h3>
              <p>control e instalacion de sistemas de seguridad: alarmas, sensores y camaras</p>
          </div>
      </div>
  </div>
  <!--3-->
  <div class="row" id="experiencias">
      <div class="col col-sm-12 col-md-5 col-lg-3">
          <div class="logo">
              <img src="./assets/logo arcoiris.png" alt="logo">
          </div>
      </div>
      <div class="col col-sm-12 col-md-7 col-lg-9">
          <div class="descripcion">
              <h2>Arcoiris S.A</h2>
              <h3>mantenimiento - soporte tecnico</h3>
              <p>Mantenimiento predictivo y mantenimiento de equipos y cajas.</p>
          </div>
      </div>
  </div>
  <!--4-->
  <div class="row" id="experiencias">
      <div class="col col-sm-12 col-md-5 col-lg-3">
          <div class="logo">
              <img src="./assets/logo supertop.png" alt="logo">
          </div>
      </div>
      <div class="col col-sm-12 col-md-7 col-lg-9">
          <div class="descripcion">
              <h2>Supermercados Top</h2>
              <h3>Cajero - Repositor</h3>
              <p>Aprendi de todo, Desde manejar el software de caja, manejar efectivo, utilizar postnet. hasta reponer y dar mantenimiento a las maquinas.</p>
          </div>
      </div>
  </div>
</section>
