<section id="acerca_de">
  <div class="container">
      <div class="sobreMi">
          <div class="row">
              <div class="col col-sm-12 col-md-6 col-lg-6">
                  <div class="contenedor-foto">
                      <img src="./assets/perfil_anime.png" alt="" id="fotoPerfil">
                  </div>
              </div>
              <div class="col col-sm-12 col-md-6 col-lg-6">
                  <p class="titulo-seccion">sobre mi:</p>
                  <h2>Hola, soy <span>Leonardo Velazque</span></h2>
                  <h3>desarrollador web</h3>
                  <p>Sit tempor anim exercitation proident mollit. Consectetur et pariatur occaecat nostrud. Minim anim velit reprehenderit excepteur.</p>
                  <p>Velit nostrud cupidatat do veniam.</p>
                  <a href="#">descargar CV.</a>
              </div>
          </div>
      </div>
  </div>
</section>
